In [3]:
import pandas as pd
import numpy as np

In [4]:
#criando uma serie pandas
serie = pd.Series([1, 2.5, np.nan, 2.3, 12])
serie

0     1.0
1     2.5
2     NaN
3     2.3
4    12.0
dtype: float64

In [5]:
#Tipagem do objeto serie de pandas
type(serie)

pandas.core.series.Series

In [6]:
#Criando um conjunto de datas
datas = pd.date_range('20200101', periods = 7, freq = 'M')
print(datas)

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31'],
              dtype='datetime64[ns]', freq='M')

In [7]:
type(datas)

pandas.core.indexes.datetimes.DatetimeIndex

In [8]:
df_1 = pd.DataFrame({'nomes' : ['Diogo', 'Ignacio'],
                       'idade' : [ '44', '31'],
                       'profissão' : ['Analista de Infraestrutura/DevOps', 'Analista de Desenvolvimento']})
df_1

     nomes idade                          profissão
0    Diogo    44  Analista de Infraestrutura/DevOps
1  Ignacio    31        Analista de Desenvolvimento